@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* .intro {
  background-color: white;
}

.intro h1 {
  color: black;
  text-align: center;
}

.project {
  background-color: black;
}

.project h1 {
  color: white;
  text-align: center;
}

.skill {
  text-align: center;
} */
